.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #32a852;

    .startButton {
        margin-top: 10vh;
        margin-bottom: 64px;
        font-size: 24px;
        text-align: center;
        display: inline-block;
        font-weight: bold;
        padding: 12px 12px 12px 12px;
        background-color: lightgray;
        text-shadow: -1px -1px black, 1px 1px white;
        color: gray;
        border-radius: 7px;
        box-shadow: 0 0.2em grey;
        cursor: pointer;
    }
    .toStart {
        &:active {
            box-shadow: none;
            position: relative;
            top: .2em;
        }
    }
    .startedButton {
        cursor:default !important;
        box-shadow: none !important;
    }

    .playersContainer {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        border: 4px solid black;
        border-radius: 10px;
    
        .playerSubContainer {
            width: 100%;
            padding: 2% 2% 0% 4%;
            border-right: 3px solid black;
    
            .cardsContainer {
                height: 250px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            .buttonContainer {
                display: flex;
                margin-bottom: 16px;
            }
        }
    }
}